* {
  box-sizing: border-box;
  margin: 0;
}
img {
  /* width: 100%;
  height: 100%; */

  /* position: absolute; */
  /* transition: transform 1s; */

  /* object-fit: contain; */
  /* inset: 0; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.carousel {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel img {
  flex-shrink: 0;
  width: 600px; /* Match the carousel width */
  height: 100%; /* Optional: Ensure images fill the height */
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

button {
  background-color: transparent;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  border: 2px solid white;
  font-size: 22px;
}

.left-btn {
  position: absolute;
  left: 10px;
  top: 45%;
  cursor: pointer;
}

.right-btn {
  position: absolute;
  right: 10px;
  top: 45%;
  cursor: pointer;
}

.span-box {
  position: absolute;
  bottom: 15px;
  left: 43%;
}

.marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
  transition: background 1s;
}
.selected {
  background-color: white;
}
.unselected {
  background-color: grey;
}
